@import './openSans';

$font: "OpenSans", sans-serif;
$primaryColor: #ef5b4c;
$secondaryColor: #1b4a8a;
$backgroundColor: #fff;
$backgroundColor2: #f9f9f3;
$titleColor: #212529;
$mobileMenuColor: #000;
$textColor: #4c4b4b;
$contentMaxWidth: 1024px;