@import "../variables";

.about-me-container {
  margin-bottom: 156px;
  @media (max-width: $tablet) {
    margin-bottom: 116px;
  }
  @media (max-width: 700px) {
    margin-bottom: 76px;
  }
  h1 {
    font-size: $titleFontSize1;
    color: $titleColor;
    text-align: center;
    margin-bottom: 68px;
    letter-spacing: -1px;
    @media (max-width: $tablet) {
      font-size: $titleFontSize1Tablet;
    }
  }
  & .about-me {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
    img {
      height: 285px;
      width: 339px;
      margin-left: 25px;
      @media (max-width: $tablet) {
        width: 247px;
        height: 207px;
      }
      @media (max-width: 700px) {
        margin: 0px 0px 40px 0px;
      }
    }
    & div {
      margin-left: 50px;
      @media (max-width: 700px) {
        margin: 0px 0px 0px 0px;
      }
      h2 {
        font-size: $titleFontSize2;
        line-height: 29px;
        color: $titleColor;
        margin-bottom: 24px;
        @media (max-width: 700px) {
          text-align: center;
        }
      }
      p {
        font-size: 16px;
        margin: 0px 0px 24px 0px;
        line-height: 24px;
      }
      span {
        color: $primaryColor;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.75;
        cursor: pointer;
        &:hover {
          color: #d24335;
        }
        @media (max-width: 700px) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
