@import "../variables";

.button {
  width: 210px;
  height: 38px;
  border-radius: 4px;
  background-color: $primaryColor;
  color: #fefefe;
  font-size: 16px;
  &:hover {
    background-color: #d24335;
  }
}

.user-btn {
  margin-bottom: 160px;
}

.register-btn {
  margin-top: 40px;
}
