@import "../variables";
@import "../mixins";

.footer {
  background: $backgroundColor;
  color: $titleColor;
  height: 60px;
  border-top: 1px solid #e1e1e1;
  & .footer-content {
    height: 100%;
    max-width: $contentMaxWidth;
    margin: 0 auto;
    @include flexCenter();
    span {
      font-size: 16px;
      margin: 0px 5px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
