@import "../variables";

.main-banner {
  background-image: url("../../assets/images/banner-photo.jpg");
  background-size: cover;
  height: 600px;
  width: $contentMaxWidth;
  color: $bannerColor;
  padding-left: 30px;
  padding-top: 108px;
  margin-bottom: 160px;
  h1 {
    font-size: $titleFontSize1;
    line-height: 54px;
    width: 535px;
    margin-bottom: 25px;
  }
  p {
    font-size: $paragraphSize;
    width: 535px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}
