@import "../variables";

.register-container {
  padding: 116px 0px 260px 0px;
  & ::placeholder {
    color: #b2b9c0;
  }
  & > div {
    text-align: center;
    h1 {
      font-size: $titleFontSize1;
      color: $titleColor;
      margin-bottom: 23px;
    }
    p {
      font-size: 16px;
      margin: auto;
      margin-bottom: 40px;
      max-width: 470px;
      line-height: 1.38;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .field-box {
        display: inline-block;
        text-align: left;
        margin: 0px 60px;
        h3 {
          font-size: 16px;
          color: $titleColor;
          margin-bottom: 10px;
        }
        .field {
          width: 467px;
          padding: 7px;
          margin-bottom: 25px;
          border-radius: 4px;
          background-color: #ffffff;
          color: #404040;
          font-size: 16px;
        }
        p {
          font-size: 12px;
          color: #212529;
        }
        &.radio-box {
          display: block;
          width: 467px;
          margin-bottom: 27px;
          .position-box {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: $titleColor;
            label {
              margin: 10px 0px;
              cursor: pointer;
            }
            & input {
              margin-right: 10px;
              box-shadow: none;
              &::after {
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                border: 1px solid #adb5bd;
                border-radius: 50%;
                background: white;
                font-size: 16px;
                position: absolute;
                top: 0;
                left: -3px;
                cursor: pointer;
              }
              /* стили для радиокнопки, находящейся в состоянии checked */
              &:checked::after {
                border: 5px solid #0b76ef;
              }
            }
          }
        }
        & input[type="file"] {
          display: none;
        }
        & .field.field-file {
          color: #b2b9c0;
          border: 1px solid #ced4da;
          position: relative;
          height: 38px;
          display: flex;
          align-items: center;
          &:focus {
            border: 1px solid #80bdff;
            box-shadow: 0px 0px 0px 3px rgba(128, 189, 255, 0.2);
            & label.file-label {
              border-left: 1px solid #80bdff;
            }
          }
          &.warning {
            border: solid 1px #db3445;
            position: relative;
            &[data-warn]::after {
              content: attr(data-warn);
              position: absolute;
              font-size: 12px;
              color: #f44336;
              top: 42px;
              left: 0px;
            }
            &:focus {
              box-shadow: 0px 0px 0px 3px rgba(219, 52, 69, 0.2);
            }
            & label.file-label {
              border-left: 1px solid #db3445;
            }
          }
          /* стили для file upload button */
          & label.file-label {
            color: $titleColor;
            font-size: 16px;
            border-left: 1px solid #ced4da;
            background: #f8f7f5;
            border-radius: 0px 4px 4px 0px;
            width: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
    & .register-btn-box {
      margin-top: 40px;
    }
  }
}
