@import "../variables";

.users-container {
  & > div {
    background: #f9f9f3;
    margin: 0px -30px;
    padding: 150px 30px 0px 30px;
    text-align: center;
    @media (max-width: $tablet) {
      padding: 119px 30px 0px 30px;
    }
    h1 {
      font-size: $titleFontSize1;
      color: $titleColor;
      margin-bottom: 23px;
      @media (max-width: $tablet) {
        font-size: $titleFontSize1Tablet;
      }
    }
    p {
      font-size: 16px;
      margin-bottom: 78px;
    }
    .user-row {
      display: flex;
      flex-wrap: wrap;
      .user-card-box {
        width: 33.33%;
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
        .user-card {
          width: 200px;
          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-bottom: 20px;
          }
          .user-info {
            h2 {
              font-size: $titleFontSize2;
              color: $titleColor;
              max-height: 95px;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.3;
              padding-bottom: 3px;
              margin-bottom: 15px;
              cursor: pointer;
            }
            p {
              margin-bottom: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.2;
            }
            .popup-box {
              position: relative;
              cursor: pointer;
              &:hover span[data-descr] {
                display: block;
              }
            }
            span[data-descr] {
              display: none;
            }
            span[data-descr]::after {
              content: attr(data-descr);
              position: absolute;
              left: 0px;
              top: 35px;
              padding: 10px;
              min-width: 200px;
              border-radius: 4px;
              box-shadow: 0px 4px 4.2px 0.8px rgba(0, 0, 0, 0.11);
              background-color: #000000;
              color: #fefefe;
              font-size: 14px;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
